@reference "tailwindcss";

[data-slot="sheet-overlay"] {
  @apply fixed inset-0 z-50 bg-black/50;
}

[data-slot="sheet-overlay"][data-state="open"] {
  animation: fade-in 0.3s ease-in-out;
}

[data-slot="sheet-overlay"][data-state="closed"] {
  animation: fade-out 0.3s ease-in-out;
}

[data-slot="sheet-content"] {
  @apply bg-(--background) fixed z-50 flex flex-col gap-4 shadow-lg;
}

[data-slot="sheet-content"][data-side="right"] {
  @apply inset-y-0 right-0 h-full w-3/4 border-l sm:max-w-sm;
}

[data-slot="sheet-content"][data-side="right"][data-state="open"] {
  animation: slide-in-from-right 0.3s ease-out;
}

[data-slot="sheet-content"][data-side="right"][data-state="closed"] {
  animation: slide-out-to-right 0.3s ease-in;
}

[data-slot="sheet-content"][data-side="left"] {
  @apply inset-y-0 left-0 h-full w-3/4 border-r sm:max-w-sm;
}

[data-slot="sheet-content"][data-side="left"][data-state="open"] {
  animation: slide-in-from-left 0.3s ease-out;
}

[data-slot="sheet-content"][data-side="left"][data-state="closed"] {
  animation: slide-out-to-left 0.3s ease-in;
}

[data-slot="sheet-content"][data-side="top"] {
  @apply inset-x-0 top-0 h-auto border-b;
}

[data-slot="sheet-content"][data-side="top"][data-state="open"] {
  animation: slide-in-from-top 0.3s ease-out;
}

[data-slot="sheet-content"][data-side="top"][data-state="closed"] {
  animation: slide-out-to-top 0.3s ease-in;
}

[data-slot="sheet-content"][data-side="bottom"] {
  @apply inset-x-0 bottom-0 h-auto border-t;
}

[data-slot="sheet-content"][data-side="bottom"][data-state="open"] {
  animation: slide-in-from-bottom 0.3s ease-out;
}

[data-slot="sheet-content"][data-side="bottom"][data-state="closed"] {
  animation: slide-out-to-bottom 0.3s ease-in;
}

[data-slot="sheet-content"] > [data-slot="sheet-close"] {
  @apply ring-(--offset-background) focus:ring-(--ring) data-[state=open]:bg-(--secondary) absolute top-4 right-4 rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:ring-offset-2 focus:outline-hidden disabled:pointer-events-none;
}

[data-slot="sheet-content"] > [data-slot="sheet-close"] > svg {
  @apply size-4;
}

[data-slot="sheet-header"] {
  @apply flex flex-col gap-1.5 p-4;
}

[data-slot="sheet-footer"] {
  @apply mt-auto flex flex-col gap-2 p-4;
}

[data-slot="sheet-title"] {
  @apply text-(--foreground) font-semibold;
}

[data-slot="sheet-description"] {
  @apply text-(--muted-foreground) text-sm;
}
