@reference "tailwindcss";

[data-slot="scroll-area"] {
  @apply relative;
}

[data-slot="scroll-area-viewport"] {
  @apply focus-visible:ring-ring/50 size-full rounded-[inherit] transition-[color,box-shadow] outline-none;
  focus-visible-ring-width: var(--scroll-area-viewport-focus-ring-width);

  &:focus-visible {
    outline-width: var(--scroll-area-viewport-focus-outline-width);
  }
}

[data-slot="scroll-area-scrollbar"] {
  @apply flex touch-none transition-colors select-none;
  padding: var(--scroll-area-scrollbar-padding);
}

[data-slot="scroll-area-scrollbar"][data-orientation="vertical"] {
  @apply h-full border-l border-l-transparent;
  width: var(--scroll-area-scrollbar-size);
}

[data-slot="scroll-area-scrollbar"][data-orientation="horizontal"] {
  @apply flex-col border-t border-t-transparent;
  height: var(--scroll-area-scrollbar-size);
}

[data-slot="scroll-area-thumb"] {
  @apply bg-border relative flex-1;
  border-radius: var(--scroll-area-thumb-border-radius);
}
