@reference "tailwindcss";

[data-slot="tooltip-content"] {
  @apply z-50 w-fit rounded-md px-3 py-1.5 text-xs text-balance;
  @apply bg-foreground text-background;
  @apply origin-(--radix-tooltip-content-transform-origin);
  
  /* Animations */
  @apply animate-in fade-in-0 zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
  
  /* Slide animations based on side */
  @apply data-[side=bottom]:slide-in-from-top-2;
  @apply data-[side=left]:slide-in-from-right-2;
  @apply data-[side=right]:slide-in-from-left-2;
  @apply data-[side=top]:slide-in-from-bottom-2;
}

[data-slot="tooltip-arrow"] {
  @apply z-50 size-2.5 rounded-[2px] rotate-45;
  @apply bg-foreground fill-foreground;
  @apply translate-y-[calc(-50%_-_2px)];
}
