@reference "tailwindcss";

[data-slot="quote-block"] {
  @apply border-l-4 border-(--primary) pl-6 py-2;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

[data-slot="quote-block-text"] {
  @apply italic mb-4;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

[data-slot="quote-block-footer"] {
  @apply flex flex-col gap-0.5 not-italic;
}

[data-slot="quote-block-author"] {
  @apply text-sm font-medium;
  color: inherit;
}

[data-slot="quote-block-title"] {
  @apply text-sm;
  color: inherit;
}
