@reference "tailwindcss";

[data-slot="list-block"] {
  @apply ml-6;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

[data-slot="list-block-item"] {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
