@reference "tailwindcss";

[data-slot="input-otp"] {
  @apply flex items-center gap-2 has-disabled:opacity-50;
  @apply disabled:cursor-not-allowed;
}

[data-slot="input-otp-group"] {
  @apply flex items-center;
}

[data-slot="input-otp-slot"] {
  @apply data-[active=true]:border-ring data-[active=true]:ring-ring/50 data-[active=true]:aria-invalid:ring-destructive/20 dark:data-[active=true]:aria-invalid:ring-destructive/40 aria-invalid:border-destructive data-[active=true]:aria-invalid:border-destructive dark:bg-input/30 border-input relative flex h-9 w-9 items-center justify-center border-y border-r text-sm shadow-xs transition-all outline-none first:rounded-l-md first:border-l last:rounded-r-md data-[active=true]:z-10 data-[active=true]:ring-[3px];
}

[data-slot="input-otp-slot"] .input-otp-caret-container {
  @apply pointer-events-none absolute inset-0 flex items-center justify-center;
}

[data-slot="input-otp-slot"] .input-otp-caret {
  @apply animate-caret-blink bg-foreground h-4 w-px duration-1000;
}
