@reference "tailwindcss";

.profile-dropdown-avatar {
  @apply flex h-8 w-8 items-center justify-center rounded-full bg-(--secondary) text-(--secondary-foreground);
}

.profile-dropdown-avatar-initials {
  @apply text-sm font-medium text-(--secondary-foreground);
}

.profile-dropdown-user-info {
  @apply flex flex-col space-y-1.5;
}

.profile-dropdown-user-name {
  @apply text-sm font-medium leading-none;
}

.profile-dropdown-user-email {
  @apply text-xs leading-none text-(--muted-foreground);
}

.profile-dropdown-user-role {
  @apply text-xs text-(---muted-foreground);
}

.profile-dropdown-logout {
  @apply text-(--destructive) focus:text-(--destructive);
}
