@reference "tailwindcss";

.client-layout-header {
  @apply flex h-11 shrink-0 items-center gap-2 px-4 border-b border-(--border) justify-between;
}

.client-layout-header-left {
  @apply flex items-center gap-2;
}

.client-layout-header-center {
  @apply flex-1 flex items-center justify-center gap-1.5;
}

.client-layout-header-context-type {
  @apply text-sm text-(--muted-foreground);
}

.client-layout-header-context-title {
  @apply text-sm font-medium text-(--foreground);
}

.client-layout-header-trigger {
  @apply relative cursor-pointer rounded-md flex items-center justify-center  -ml-1.5 w-7.5 h-7.5;

  & svg {
    @apply size-6 stroke-(--muted-foreground) transition-colors duration-300 ease-out;
  }

  &:hover svg {
    @apply size-6 outline-inherit stroke-(--foreground);
  }
}

.client-layout-header-separator {
  @apply mr-2 h-4;
}

.client-layout-header-right {
  @apply flex items-center gap-2;
}

.client-layout-main {
  @apply flex-1;
}

.client-layout-loading {
  @apply flex h-screen w-full items-center justify-center;
}

.client-layout-loading-text {
  @apply text-(--muted-foreground);
}

/* Preview mode - full screen without chrome */
.client-layout-preview {
  @apply min-h-screen w-full bg-(--background);
}
