@reference "tailwindcss";

.dashboard-layout-loading {
  @apply min-h-screen flex items-center justify-center;
}

.dashboard-layout-loading-text {
  @apply text-lg;
}

.dashboard-layout-header {
  @apply flex h-12 shrink-0 items-center justify-between border-b px-2 bg-(--color-background);
}

.dashboard-layout-header-left {
  @apply flex items-center gap-2;
}

.dashboard-layout-header-right {
  @apply flex items-center gap-2;
}

.dashboard-layout-header-trigger {
  @apply -ml-1;
}

.dashboard-layout-header-separator {
  @apply mr-2 h-4;
}

.dashboard-layout-main {
  @apply flex flex-1 flex-col gap-4 p-4;
}
